/* media slider styling */
.media-scroller{
	--_spacer: 1rem;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 21%; 
	gap: var(--_spacer);
	
	/*padding: top left-right bottom*/
	padding: 0 var(--_spacer) var(--_spacer) ;
	
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}
.media-element{
	display: grid;
	grid-template-rows: min-content;
	gap: var(--_spacer);
	padding: var(--_spacer);
	background-color: grey;
}
.media-element > img{
	inline-size: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
}
.snaps-inline{
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: var(--_spacer);
}
.snaps-inline > *{
	scroll-snap-align: start;
}